name: Writing Own Pipeline

on:
  workflow_dispatch:
  push:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: action/setup-dotnet@v4
      with:
      dotnet-version: 10.0.x

    - name: Restore Dependencies
      run: dotnet restore

    - id: build
      name: Build
      run: dotnet build --no-restore